@{
    ViewData["Title"] = "Home Page";

    IEnumerable<Coffee> coffeeList = new List<Coffee>();
    coffeeList = ViewBag.allcoffee;
}



<div class="row">
    <h1>COFFEE Total: @ViewBag.coffeeCount</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Daily Trend (last @ViewBag.trendDays)</h2>
        @*lineLabels: @ViewBag.lineLabels   <br /><br />
        lineSet: @ViewBag.lineSet  <br /><br />*@

        <canvas id="LineChart" width="400" height="300"></canvas>
    </div>

    <div class="col-md-6">
        <h2>Iced vs. Hot</h2>
        <canvas id="pieChart" width="400" height="300"></canvas>
    </div>

</div>

<br />

<div class="row">
    <div class="col-md-6">
        <h2>Bar distibution by day</h2>
        <canvas id="barChart" width="400" height="300"></canvas>
    </div>



    <div class="col-md-6">
        <h2>Recent Coffees</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Consumed</td>
                    <td>CEU</td>
                    <td>Iced?</td>
                    <td>ID</td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Coffee c in ViewBag.top10)
                    {
                        <tr>
                            <td>@c.consumed</td>
                            <td>@c.CEU</td>
                            <td>@c.iced</td>
                            <td>@c.ID</td>
                            <td></td>
                            <td></td>
                        </tr>
                        //<li>@c.ID: </li>
                    }
                }
            </tbody>
        </table>
        <p><a asp-action="List">Complete List</a></p>
    </div>
</div>


<script src="~/js/ChartJS-2.7.2.js" asp-append-version="true"></script>
<script>
    var LineChart = $("#LineChart");
    var LineChart = new Chart(LineChart, {
        type: 'line',
        data: {
            //labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            labels: @Html.Raw(ViewBag.lineLabels),
            datasets: [{
                label: 'Label',
                data: @Html.Raw(ViewBag.lineSet),
                backgroundColor: [
                    '#775519'
                ],
                borderColor: [
                    'rgba(153, 102, 102,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        responsive: false}
    });

    var pieChart = $("#pieChart");
    var pieChart = new Chart(pieChart, {
        type: 'pie',
        data: {
            datasets: [{
                data: [@ViewBag.icedTotal, @ViewBag.hotTotal],
                backgroundColor: ['rgba(0, 0, 255, .7)', 'rgba(255, 0, 0, .7)']
            }],
            labels: ["Iced", "hot"]
        },
        options: {
            responsive: false
        }
    });

    var barChart = $("#barChart");
    //TODO here, add th bar chart when ready (I have the data)
    var barChart = new Chart(barChart, {
        type: 'bar',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                label: "CEU recorded by day",
                backgroundColor: ["#775519", "#775519", "#775519", "#775519", "#775519", "#775519", "#775519", ],
                data: @ViewBag.CEUCountsByDayJSON2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        //options: options
    });
    
</script>
