@{
    ViewData["Title"] = "Home Page";

    IEnumerable<Coffee> coffeeList = new List<Coffee>();
    coffeeList = ViewBag.allcoffee;
}



<div class="row">
    <h1>COFFEE</h1>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Line graph</h2>
        <canvas id="LineChart" width="400" height="300"></canvas>
    </div>
    <div class="col-md-3">
        <h2>Total: @ViewBag.coffeeCount</h2>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Pie Iced vs non</h2>
    </div>
    <div class="col-md-6">
        <h2>Bar distibution by day</h2>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-6">
        <h2>Centered, most recent list</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Consumed</td>
                    <td>CEU</td>
                    <td>Iced?</td>
                    <td>ID</td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Coffee c in ViewBag.top10)
                    {
                        <tr>
                            <td>@c.consumed</td>
                            <td>@c.CEU</td>
                            <td>@c.iced</td>
                            <td>@c.ID</td>
                            <td></td>
                            <td></td>
                        </tr>
                        //<li>@c.ID: </li>
                    }
                }
            </tbody>
        </table>
        <p><a href="#">Complete list</a></p>
    </div>
</div>


<script src="~/js/ChartJS-2.7.2.js" asp-append-version="true"></script>
<script>
    var LineChart = $("#LineChart");

    var LineChart = new Chart(LineChart, {
        type: 'line',
        data: {
            //labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            labels: @Html.Raw(ViewBag.lineLabels),
            datasets: [{
                label: 'Label',
                data: @Html.Raw(ViewBag.lineSet),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        responsive: false}
    });

</script>
@ViewBag.lineLabels